<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.productkanbanapi.mapper.Fg313notrecMapper">

    <resultMap id="BaseResultMap" type="com.example.productkanbanapi.entity.Fg313notrec">
        <id property="id" column="ID" jdbcType="OTHER"/>
        <result property="partnumber" column="PartNumber" jdbcType="VARCHAR"/>
        <result property="poNumber" column="PO_NUMBER" jdbcType="VARCHAR"/>
        <result property="batch" column="Batch" jdbcType="VARCHAR"/>
        <result property="uid" column="UID" jdbcType="VARCHAR"/>
        <result property="status" column="Status" jdbcType="VARCHAR"/>
        <result property="quantity" column="Quantity" jdbcType="FLOAT"/>
        <result property="plant" column="Plant" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert">
        insert into FG_313NotRec (ID, PartNumber, PO_NUMBER, Batch, UID, Status, Quantity, Plant)
        values
        <foreach item="item" collection="notRec313List" separator=",">
            (newid(), #{item.partNumber}, #{item.wo}, #{item.batch}, #{item.uid}, #{item.state}, #{item.quantity}, #{item.plant})
        </foreach>
    </insert>

</mapper>
